@model CoffeeShop.Core.DTOs.Account.LoginViewModel
@{
    if (ViewData["isConfirmed"] != null && ViewData["isConfirmed"].ToString() == false.ToString())
    {
        <div class="alert alert-danger" role="alert">
            حساب شما فعال نشده است. ایمیل فعالسازی برای شما ارسال شده است.
            <a href="#">ارسال دوباره</a>
        </div>
        //ToDo link to send email again
    }
}
<form asp-action="Login" method="post" asp-route-returnUrl="@ViewData["returnUrl"]" class="form login-form active">
    <span class="alert-text">@ViewData["LoginError"]</span>

    <div class="input-box">
        <input type="text"
               asp-for="Email"
               autocomplete="off"
               class="form-input"
               placeholder="Email Address" />
        <!-- alert text -->
        <span asp-validation-for="Email" class="alert-text" id="login-email-alert"></span>
    </div>
    <div class="input-box">
        <div class="password-box-inner">
            <input type="password"
                   asp-for="Password"
                   class="form-input password-input"
                   placeholder="Password" />
            <!-- eye button -->
            <span class="eye-btn">
                <i class="fa fa-eye"></i>
            </span>
        </div>

        <!-- alert text -->
        <span asp-validation-for="Password" class="alert-text" id="login-password-alert"></span>
    </div>

    <!-- forgot password -->
    <a href="#" class="forgot-pass-text">Forgot Password?</a>

    <button type="submit" class="form-btn">Login</button>

    <!-- NAVIGAGTE TO SIGNUP FORM -->
    <div class="navigate-link-wrapper">
        Not Registered?
        <a href="#" class="navigate-link" data-link="register">Signup</a>
    </div>
</form>