@model ForgotPasswordViewModel

@{
    Layout = null;
    ViewData["Title"] = "بازیابی رمز عبور";
}

@{
    if (Model != null && !string.IsNullOrEmpty(Model.Status))
    {
        <div class="alert alert-@(Model?.Status == "Success"? "success" : "danger")" role="alert">
            @Model?.ResultMessage
        </div>
    }
}
<div>
    <h2>بازیابی رمز عبور</h2>
    <p>لطفاً ایمیل خود را وارد کنید</p>
</div>
<form asp-action="ForgotPassword" method="post" id="forgotPasswordForm">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="email">ایمیل</label>
        <div>
            <input type="email" asp-for="Email" placeholder="example@email.com" required>
        </div>
        <span asp-validation-for="Email" class="validation-message"></span>
    </div>

    <button type="submit">
        ارسال لینک بازیابی
    </button>

    <div>
        <p>
            رمز عبور خود را به یاد آوردید؟
            <a href="/Login">وارد شوید</a>
        </p>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}