@model ResetPasswordViewModel

@{
    Layout = null;
    ViewData["Title"] = "بازیابی رمز عبور";
}

@{
    if (ViewData["LinkStatus"] != null && ViewData["LinkStatus"] as string == "Error")
    {
        <div>
            <div role="alert">
                لینک اشتباه است یا منقضی شده است
                <a href="#">
                    ارسال دوباره
                </a>
            </div>
        </div>
        // ToDo send reset password email again
    }
    else
    {
        <div>
            <div>
                <h2>تنظیم رمز عبور جدید</h2>
                <p>لطفاً رمز عبور جدید خود را وارد کنید</p>
            </div>

            <form asp-action="ResetPassword" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                @*Hidden input*@
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="UserId" />

                <div>
                    <label for="password">رمز عبور جدید</label>
                    <div>
                        <input type="password" asp-for="Password" placeholder="••••••••" required>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>

                <div>
                    <label for="confirmPassword">تکرار رمز عبور جدید</label>
                    <div>
                        <input type="password" asp-for="ConfirmPassword" placeholder="••••••••" required>
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>

                <button type="submit">
                    ثبت رمز عبور جدید
                </button>

                <div>
                    <p>
                        بازگشت به
                        <a href="/Login">صفحه ورود</a>
                    </p>
                </div>
            </form>
        </div>
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}