@model ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div class="user-panel">
    <div class="panel-container">

        <partial name="_SideBar" />

        <main>
            <div>
                <h2>تغییر رمز عبور</h2>
            </div>
            @if (ViewData["isChanged"] is true)
            {
                <h3 class="text-success"><strong>رمز عبور با موفقیت تغییر یافت</strong></h3>
            }

            <form id="changePasswordForm" asp-action="ChangePassword" asp-controller="Home" asp-area="UserPanel" method="post" class="password-form">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label>رمز عبور فعلی</label>
                    <div class="input-group">
                        <input asp-for="OldPassword" id="currentPassword" class="form-control">
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="newPassword">رمز عبور جدید</label>
                    <div class="input-group">
                        <i class="fas fa-lock input-icon"></i>
                        <input asp-for="NewPassword" id="newPassword" class="form-control">
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">تکرار رمز عبور جدید</label>
                    <div class="input-group">
                        <i class="fas fa-lock input-icon"></i>
                        <input asp-for="RePassword" id="confirmPassword" class="form-control">
                    </div>
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>

                <div class="form-actions">
                    <button type="button" class="cancel-btn">انصراف</button>
                    <button type="submit" class="submit-btn">
                        <i class="fas fa-save"></i>
                        تغییر رمز عبور
                    </button>
                </div>
            </form>
        </main>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}