@model EditProfileViewModel

@{
    ViewData["Title"] = "ویرایش پروفایل";
}

<div class="user-panel">
    <div class="panel-container">
        <!-- SideBar -->
        <partial name="_Sidebar" />

        <!-- Main -->
        <main class="panel-content">
            <div class="content-section">
                @{
                    if (Model.Message != null)
                    {
                        <div class="alert alert-primary" role="alert">
                            @Model.Message
                        </div>
                    }
                }
                <form id="form" asp-action="EditProfile" asp-controller="Home" asp-area="UserPanel" method="post" class="profile-form">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label for="email">ایمیل</label>
                        <input type="email" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-actions">
                        <button type="button" class="cancel-btn" onclick="window.history.back()">انصراف</button>
                        <button type="submit" class="submit-btn">
                            <i class="fas fa-save"></i>
                            ذخیره تغییرات
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}